:root {
  --icon-size: 72px;
  --icon-text-size: 30px;
  --icon-text-color: rgba(255, 255, 255, 0.8);
  --icon-gap-row: 20px;
  --icon-gap-col: 50px;
  --mask-color: rgba(0, 0, 0, 0.3);
  --shadow: 0 4px 16px 0 #0000001a;
}
