<!-- Modal -->
<div class="modal fade" id="editSiteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">修改站点</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- body -->
      <div class="modal-body">
        <form class="form">
          <input type="hidden" id="editSiteId">
          <div class="form-row">
            <label class="col-2">名称</label>
            <input type="text" maxlength="9" class="col form-control" id="editSiteName">
          </div>
          <div class="form-row">
            <label class="col-2">URL</label>
            <input type="text" class="col form-control" id="editSiteUrl">
          </div>
          <div class="form-row">
            <label class="col-2">图标URL</label>
            <input type="text" class="col form-control" id="editSiteIcon">
          </div>
          <div class="form-row">
            <label class="col-2" for="">顺序</label>
            <input type="text" maxlength="2" class="col form-control" id="editSiteOrder" placeholder="(选填) 0~99，默认0，数字越大越靠前">
          </div>
          <div class="form-row">
            <label class="col-2">备注</label>
            <input type="text" maxlength="9" class="col form-control" id="editSiteRemark" placeholder="(选填)">
          </div>
        </form>
      </div>

      <!-- footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary j-delsite-trigger">删除此项</button>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary j-editsite-submit">提交</button>
      </div>
    </div>
  </div>
</div>
