.color-configure {
  position: relative;

  .preview {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.import-config-modal-body {
  padding-bottom: 30px;
}

.import-conf-info {
  font-size: 12px;
  color: #aaa;
}
