.widget-time {
  position: relative;
  background-color: rgba(0,0,0,0.9);
  // background-image: url('https://static.199100.xyz/images/website/widget-bg-coast.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  overflow: hidden;
  padding: 0 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);

  &::before {
    content: ' ';
    display: block;
    background-color: var(--mask-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .content {
    position: relative;

    .date {
      font-size: 12px;
      padding: 10px 0 6px 10px;
      color: rgba(255,255,255,0.6);
      text-align: center;
    }

    .week {
      margin-left: 10px;
    }

    .holiday {
      text-align: center;
      color: #eee;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
