.iconWrap {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.version {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}
