@searchWidth: 700px;
@navWidth: 208px;

// reset
ul {
  margin: 0;
}

.main {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(247, 247, 247, 0.9);

  .main-inner {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding-left: @navWidth;

    .nav {
      .logo {
        h1 {
          font-size: 16px;
          text-align: center;
        }
      }
      .nav-toggle {
        position: absolute;
        top: calc(50% - 32px);
        right: -20px;
        z-index: 9;
        padding: 0;
        border-width: 9px 0 9px 20px;
        border-color: transparent transparent transparent #efefef;
        background: none;
        width: 0;
        height: 64px;
        line-height: 46px;
        outline: none;
        cursor: pointer;

        &:hover {
          border-left-color: #dedede;
        }

        span {
          position: relative;
          left: -17px;
          width: 14px;
        }
      }
      position: fixed;
      z-index: 1;
      width: @navWidth;
      height: 100%;
      left: 0;
      top: 0;
      color: #555;
      transition: all ease-in-out 0.3s;
      background: #fff;
      border-right: 1px solid #eee;
    }
  }

  .main-inner.is-nav-shrink {
    .nav {
      transform: translateX(-100%);

      .nav-toggle img {
        transform: rotate(180deg);
      }
    }

    padding-left: 0;
  }

  .main-content {
    position: relative;
    height: 100%;
    overflow: auto;

    .main-header {
      position: absolute;
      top: 0;
      height: 50px;
      line-height: 50px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
    }

    #search {
      height: 100%;
      padding-top: 100px;
      box-sizing: border-box;

      .search-form {
        display: block;
        width: @searchWidth;
        margin: 0 auto;
      }

      .searcher-logo {
        width: @searchWidth;
        height: 215px;
        overflow: hidden;
        &>i {
          display: block;
          margin: 0 auto;
          display: none;
        }
        .baidu {
          position: relative;
          bottom: -80px;
          width: 300px;
          height: 200px;
          background: url(../images/baidu.svg) center bottom no-repeat;
          background-size: 270px auto;
        }
        .google {
          width: 300px;
          height: 200px;
          background: url(../images/google_logo.svg) center bottom no-repeat;
          background-size: contain;
        }
        .dogedoge {
          width: 300px;
          height: 200px;
          background: url(../images/dogedoge.png) center bottom no-repeat;
          background-size: contain;
        }
      }

      .searcher-logo.baidu .baidu,.searcher-logo.google .google,.searcher-logo.dogedoge .dogedoge {
        display: block;
      }

      .search-input {
        position: relative;
        width: @searchWidth;
        .search-input-el {
          background: #fff;
          border: none;
          width: 100%;
          font-size: 16px;
          height: 48px;
          line-height: 48px;
          padding: 0 60px 0 10px;
          border-radius: 4px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          color: #333;
          outline: none;
        }
        #searchSubmitEl {
          position: absolute;
          right: 0;
          top: 0;
          height: 48px;
          width: 48px;
          background: #3385ff;
          color: #fff;
          border-radius: 0 4px 4px 0;
          &:hover {
            background: #317ef3;
          }
        }
      }

      .search-engine {
        .engine-choose {
          display: inline-block;
          padding: 10px;
          cursor: pointer;
          &.current {
            background-color: #fff;
            border-radius: 0 0 4px 4px;
          }
        }
      }
    }
  }
}
