@import './vars.less';

.ui-dialog.dialog-add-site {
  border: none;
  border-radius: 4px;
  margin-left: @side-width;

  .add-site-dialog-content {
    margin-bottom: 10px;
    input {
      width: 400px;
      padding: 0 6px;
    }
  }

  .add-site-dialog-error {
    width: 420px;
    text-align: right;
    color: rgba(255, 0, 0, .9);
  }
}
