@import './vars.less';

.ui-dialog.dialog-common {
  border: none;
  border-radius: 4px;
  margin-left: @side-width;

  .add-site-dialog-content {
    margin-bottom: 10px;
    input {
      width: 400px;
      padding: 0 6px;
    }
  }

  .dialog-error {
    width: 390px;
    text-align: right;
    color: rgba(255, 0, 0, .9);
  }

  .ui-dialog-footer button {
    min-width: 80px;
    outline: none;
  }
  .ui-dialog-footer button.ui-dialog-autofocus {
    background-color: #34495e;
    border-color: #34495e;
  }
}
