@import './vars.less';

.main {
  margin-left: @side-width;
  min-height: 100vh;

  .header {
    text-align: right;
    padding: 0 50px;
    line-height: 40px;
    font-size: 12px;
  }

  .search {
    position: relative;
    width: 710px;
    height: 44px;
    margin: 100px auto 0;
    background-color: rgba(216, 216, 216, 0.4);
    box-shadow: 0px -1px 2px 0px #c9c9c9, -1px 0px 2px 0px #c9c9c9;
    border-radius: 4px;

    .search-engine {
      position: absolute;
      width: @search-engine-size;
      height: @search-engine-size;
      top: (44-@search-engine-size)/2;
      left: 12px;

      .engine-logo {
        position: absolute;
        left: 0;
        display: inline-block;
        width: @search-engine-size;
        height: @search-engine-size;
        border-radius: @search-engine-size / 2;
        overflow: hidden;
        background-color: #fff;
        text-indent: -999em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: @search-engine-size*0.6;
        box-shadow: 0 2px 1px rgba(117, 117, 117, 0.4);

        &:nth-child(1) {
          z-index: 9;
        }
        &:nth-child(2) {
          z-index: 8;
        }
        &:nth-child(3) {
          z-index: 7;
        }
      }

      &.animate .engine-logo {
        transition: all 0.2s linear;
      }
      &.animate:hover {
        .engine-logo:nth-child(2) {
          left: @search-engine-size - 4;
        }
        .engine-logo:nth-child(3) {
          left: @search-engine-size*2 - 8;
        }
      }

      .baidu {
        background-image: url('../asserts/svg/baidu.svg');
      }
      .google {
        background-image: url('../asserts/svg/google.svg');
      }
      .bing {
        background-image: url('../asserts/svg/bing.svg');
      }
    }

    input[type='text'] {
      background: none;
      // border: 1px solid;
      border: none;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 60px;
      box-sizing: border-box;
      color: #333;
    }
  }

  .nav {
    margin-top: 120px;

    &>.nav-block {
      width: 710px;
      margin: 0 auto 200px;

      h2 {
        position: relative;
        font-size: 22px;
        color: #555;
        font-weight: 600;
        padding-bottom: 10px;

        &::after {
          content: " ";
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          border-bottom: 1px solid #ddd;
        }
      }

      ul {
        list-style: none;

        li {
          @max-img-height: 50px;


          float: left;
          display: block;
          margin: 10px 10px 0 0;

          a {
            position: relative;
            display: block;
            width: @max-img-height+14px+10px;
            padding: 10px 0;
            color: #333;
            text-decoration: none;
            text-align: center;
            border-radius: 4px;

            i.del {
              display: none;
              position: absolute;
              right: 0;
              top: 0;
              content: " ";
              width: 24px;
              height: 24px;
              background: url('../asserts/svg/delete.svg') center no-repeat;
              background-size: 24px;
              z-index: 1;
            }
            &.deleteable i.del {
              display: block !important;
            }

            &:hover {
              background-color: #eee;
            }
          }

          .img-container {
            display: inline-block;
            width: 36px;
            height: @max-img-height;
            img {
              width: 100%;
              height: auto;
            }
          }

          .site-name {
            display: block;
            height: 14px;
            font-size: 14px;
            line-height: 1;
            color: #333;
            text-align: center;
          }
          .j-add-site .site-name {
            color: #bbb;
          }
        }
      }

    }
  }
}
