body {
  background: #fff;
}

#header {
  position: absolute;
  right: 0;
  top: 0;
  margin: 19px 0 5px;
  padding: 0 96px 0 0;

  ul { list-style: none; }
  li {
    float: left;
    margin-left: 20px;
    a {
      color: #333;
      font-weight: 700;
      line-height: 24px;
      font-size: 13px;
      text-decoration: underline;
    }
    a:visited {
      color: #666;
      text-decoration: underline;
    }
    a:hover {
      color: #00c;
    }
  }
  li.star {
    position: relative;
    top: 2px;
  }
}

#main {
  text-align: center;

  .logo {
    padding-top: 120px;
    height: 48px;
    width: 127px;
    background: url('./img/logo.png') center bottom no-repeat;
    background-size: 127px 48px;
    font-size: 0;
    text-indent: -999em;
    margin: 0 auto 30px;
  }

  .search {
    display: inline-block;
  }

  .search-wrapper {
    width: 588px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    padding: 5px 10px;

    &:hover {
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }

    input {
      height: 34px;
      width: 100%;
      -webkit-tap-highlight-color: transparent;
      outline: none;
      background-color: transparent;
      border: none;
      color: rgba(0,0,0,.87);
      margin: 0;
      padding: 0;
    }
  }

  .search-buttons {
    padding-top: 18px;
  }
  .search-buttons input {
    display: inline-block;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
    cursor: pointer;
  }
  .search-buttons input.active {
    border: 1px solid #4d90fe;
    outline: none;
  }
}

#nav {
  background-color: #fff;
  position: relative;
  height: 300px;

  .nav-img {
    position: absolute;
    right: 50px;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url('./img/illustration.jpg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 120px auto;
    opacity: .5;
  }
}
